<#@ template debug="true" hostspecific="true" language="C#" #>
<#@ output extension=".mgcb" #>
<#@ assembly name="System.Core"#>
<#@ assembly name="System.Xml"#>
<#@ import namespace="System.IO" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Xml" #>
<#@ import namespace="System.Collections.Generic" #>
<# string basePath = "..\\..\\"; #>

<#@include file="..\..\Templates\Content.t4" once="true" #>